:root {
    --w: calc(70vw / 12);
    --h: calc(70vh/6);
}

* {
    transition: all 0.3s;
}

.areat, .tarjeta{
    width: 150px;
    height: 200px;
    margin-left: 10px;
    margin-right:  10px;
    margin-top: 5px;
    cursor: pointer;
}

.containerc {
    padding: 0;
    margin: 0;
    -webkit-perspective: 1000;
    min-height: 100vh;
    background: powderblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; /
}

.tarjeta {
    position: relative;
    transform-style: preserve-3d;
    flex: 0 0 auto;
}

.carat{
    background-color: rgb(95, 158, 160);
    width: 150px;
    height: 200px;
    padding: 20px;
    border-radius: 15px;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    font-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caras{
    background:rgb(10, 107, 109);
    width: 150px;
    height: 200px;
    padding: 20;
    border-radius: 15px;
    backface-visibility: hidden;
    display: flex;
    font-size: 500%;
    justify-content: center;
    align-items: center;
}