* {
    transition: all 0.3s;
}

.areat, .tarjeta{
    width: 130px;
    height: 200px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}

header{
    background-color: powderblue;
}

.containerc {
    padding: 0;
    margin: 0;
    min-height: 80vh;
    background: powderblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.tarjeta {
    position: relative;
    transform-style: preserve-3d;
}

.carat{
    background-color: rgb(95, 158, 160);
    width: 130px;
    height: 200px;
    padding: 20px;
    border-radius: 15px;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    font-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caras{
    background:rgb(10, 107, 109);
    width: 130px;
    height: 200px;
    padding: 20px;
    border-radius: 15px;
    backface-visibility: hidden;
    display: flex;
    font-size: 500%;
    justify-content: center;
    align-items: center;
}